.img {
    margin: 5px 15px;
    position: relative;
    cursor: pointer;
    transition: 2s ease-in-out;
}

.img::before {
    content: "\2b";
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px !important;
    background-color: rgba(26, 188, 156, 0.8);
    color: white;
    transition: all ease-in .3s;
    font-size: 6rem;
    font-weight: bolder;
}

.img:hover::before {
    opacity: 1;
}

.img img {
    border-radius: 10px !important;
}